################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/infbez2/v16/Server/sqlite3/storage.ide-wal
