################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/infbez2/v16/Server/sqlite3/storage.ide-wal
/.vs/infbez2/v16/Server/sqlite3/storage.ide-shm
/.vs/infbez2/v16/Server/sqlite3/storage.ide
/.vs/infbez2/v16/Server/sqlite3/db.lock
/.vs/infbez2/v16/.suo
